body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(XqRBXyO-old-map-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#map-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#game {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#vmap {
    border-style:double;
}

#gameplay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 1000px;
    border-style:double;
    margin-top: 10px;
}
#player1, #player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: inset;
    height: 290px;
    width: 175px;
    
}

#player1box, #player2box{
    font-size: 25px;
}

#game-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-color: black;
    
    height: 290px;
    width: 600px;
}
#console {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#dice-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
#game-buttons {
    display:flex;
    justify-content: space-around;
    text-align: center;

}

.player-info{
    text-align: center;
}

.player-data{
    

}
.game-button {
    height: 40px;
    width: 100px;
}
.dice-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    width: 300px;
}

.dice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;

}
.dice-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 70px;
    width: 300px;
    

}
.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    font-size: 30px;
    margin: 3px;
    height: 60px;
    width: 60px;

}
.player1 {
    fill: rgb(35, 35, 185);
    fill-opacity: .6;
}

.player2 {
    fill:olive;
    fill-opacity: .9;
}

.toggle {
    stroke:rgb(68, 253, 68);
    stroke-width: .4em;
    stroke-dasharray: 2%;
    stroke-opacity: 1;
}

.active {
    background: rgba(0, 128, 0, 0.3);
}

.state-info {
    width: 10px;
    height: 10px;
}

.selected {
    stroke:black;
    stroke-width: .6em;
    stroke-opacity: .7;
}

.selected-targ {
    stroke: red;
    stroke-width: .4em;
    stroke-opacity: 1;
}

